.gameBoard {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
}

.blackTile {
    background-color: black;
    height: 100px;
    width: 100px;
}

.whiteTile {
    background-color: grey;
    height: 100px;
    width: 100px;
}