body {
    margin: 0;
    height: 100vh;
}

#content {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    border: solid;
    border-color: brown;
    border-width: 5px;
    box-shadow: 3px 3px 2px;
}

.blackTile {
    background-color: black;
    height: 100px;
    width: 100px;
}

.whiteTile {
    background-color: white;
    height: 100px;
    width: 100px;
}